
:root {
    --main-bg-color: rgb(245, 245, 245);
    --orange: #F06421;

    --heading-font-size: 2.5rem;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: var(--main-bg-color) ;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.container {
    box-sizing: content-box;
    padding: 50px;   
}

.heading {
    font-size: var(--heading-font-size);
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}


.backgroundtest {
    background-image: url(./assets/hero_background.avif);
    background-repeat: no-repeat;
}

.placeholder {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    opacity: 1;
}

.wrap {
    width: 80%;
    margin: auto;

    position: relative;

}

/* #region nav */

.main-nav {
    background-repeat: no-repeat;
    width: 30%;

    position: sticky;
    top: 80px;
    left: 10%;
    margin-top: -80px;
    z-index: 99;
    
}

.main-nav > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.main-nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;

}

.main-nav > ul > li > a:target {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--orange);

}
/* #endregion */

/*#region hero */

.hero {
    /* background: url(./assets/hero_background.avif); */
    
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;

    position: relative;
    
}

.hero-content {
    position: absolute;
    top: 45%;
    left: 0;

    width: 40%;

    color: white;

}

.hero-content > .hero-title {
    font-size: var(--heading-font-size);
    font-weight: 100;
    letter-spacing: 1px;
}

.hero-content > .hero-text {
    padding: 20px 0;
}

.hero-content > .hero-icon {
    font-size: 3rem;
    margin-left: 100px;
}

/* #endregion */

/* #region orange content */

.orange-container {
    display: grid;
    grid-template-columns: 3fr 7fr;   
    
}

.arrow-icons {
    display: flex;
}

.orange-main {
    background-color: var(--orange);
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

.orange-main-content {
    color: white;
}

.orange-main > .orange-main-image {
    display: grid;
    grid-template-rows: 1fr 1fr;

    background-color: var(--main-bg-color);
}

/* #endregion */

/* #region australia (aus) */

.aus-container {
    width: 80%;
    margin: auto;
}

.aus-container-text {
   display: grid;
   grid-template-columns: 100fr 77fr;
   gap: 15px;
}

.aus-container-text p:first-child {
   color: grey;
}

/* #endregion */


/* #region lastSection */

.last-content-container {
    margin-left: 10%;
    position: relative;
}

.last-content-heading-position {
    position: absolute;
    top: -540px;
    height: 540px;
    background-color: var(--orange);
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.last-content-img-container img{
    height: 540px;
    object-fit: contain;
}

/* mangler mediaqueries */
.last-content-text-position {
    margin-top: -5px;
    padding: 100px 200px 100px 50px;
    background-color: var(--orange);
    columns: 2;
    color: white;
}

.last-content-contact {
    width: 100%;
    background-color: #333439;
    color: white;
    padding: 100px 50px;
}



.last-content-contact-inputs input {
    padding: 20px 30px;
    margin: 0 5px;
}
.last-content-contact-inputs input:last-child {
    padding: 19px 50px;
    background-color: #333439;
    border: 2px solid var(--main-bg-color);
    color: white;
}

.last-content-contact-inputs input:last-child:hover {
    background-color: var(--main-bg-color);
    border: none;
    color: #333439;

    cursor: pointer;
    transition: .2s;
    scale: 1.1;
}

::placeholder {
    color: black;
    opacity: .4;
}


/* #endregion */
